* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  /* background-color: aqua; */
}

.cls-image-container img {
  width: auto;
  height: 50vh;
}

.cls-department {
  display: inline-block;
}

.cls-department p {
  color: #0084d6;
  font-weight: bold;
}
