@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url("./shared.css");

* {
  font: inherit;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: var(--lighter-grey);
}

a {
  color: inherit;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: var(--light-blue);
}
/******************************************/

.cls-header,
.cls-footer {
  height: 100px;
  width: 100%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--chinese-silver);
}

.cls-main {
  display: flex;
  flex-direction: column-reverse;
  margin: 0 auto;
  padding: 1rem;
}

.cls-aside {
  flex-shrink: 0;
  padding-top: 1rem;
}

.cls-filter-block {
  margin-bottom: 4rem;
}

.cls-filter-title {
  font-size: 1.5rem;
  font-weight: 400;
  margin-bottom: 1rem;
}

.cls-filter-category-option {
  padding: 2px 0;
  font-size: 1rem;
  margin-bottom: 0.7rem;
  color: var(--dark);
}

.cls-filter-search {
  display: flex;
}

.cls-filter-search > input {
  border: 1px solid var(--chinese-silver);
  flex-grow: 1;
  line-height: 1.8;
  padding: 6px 8px;
  border-radius: 0;
  margin-right: 6px;
}
.cls-standard-button {
  padding: 0 0.8rem;
  background-color: var(--light-blue);
  color: white;
  align-self: stretch;
  cursor: pointer;
  border: 0;
}

.cls-filter-slider {
  width: 100%;
  margin-bottom: 1rem;
}

.cls-filter-max-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 35px;
}

.cls-filter-max-price span {
  font-size: 0.9rem;
  color: var(--chinese-silver);
}

.cls-filter-max-price #id-label-slider {
  color: var(--dark)
}

.cls-section {
  background-color: var(--white);
  padding: 2rem 1rem 0;
  flex-grow: 1;
}

#id-result-count {
  margin-bottom: 2rem;
}

.cls-product-card-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.cls-product-card {
  width: calc((100% - 20px) / 2);
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}

.cls-product-image {
  border: 2px solid var(--lighter-grey);
}

.cls-product-card .cls-product-image {
  width: 100%;
  aspect-ratio: 1;
  margin-bottom: 0.8rem;
}
.cls-product-card .cls-product-name {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}
.cls-product-card .cls-product-category {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: var(--chinese-silver);
  display: block;
}
.cls-product-card .cls-product-price {
  font-size: 0.9rem;
  font-weight: 700;
  margin-bottom: 0.5rem;
}

.cls-mini-product-card {
  display: flex;
  gap: 10px;
  justify-content: flex-start;
  align-items: center;
  border-bottom: 1px solid var(--grey);
  padding: 1rem 0;
}

.cls-mini-product-card:last-of-type {
  border: 0;
}

.cls-mini-product-card .cls-product-image {
  width: 64px;
  aspect-ratio: 1;
}
.cls-mini-product-card .cls-product-name {
  font-size: 1.2rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}
.cls-mini-product-card .cls-product-category {
  display: none;
}
.cls-mini-product-card .cls-product-price {
  font-size: 0.9rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
}


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 600px) {
  .cls-product-card {
    width: calc((100% - 40px) / 3);
  }

  .cls-section {
    padding: 2rem 1rem 0;
  }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .cls-main {
    flex-direction: row;
    max-width: 1360px;
    padding: 4rem 1rem;
  }

  .cls-aside {
    width: 330px;
    padding-right: 60px;
    padding-top: 0;
  }

  .cls-section {
    padding: 5rem 7rem;
  }

}