*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  /* colors */
  --sapphire-blue: #16648e;
  --sapphire-blue-2: #156290;
  --black: #000;
  --white: #fff;
  --chinese-silver: #c8c8c8;
  --lighter-grey: #f5f7f9;

  --dark: #1f2937;
  --light-blue: #3882f6;
  --grey: #e5e7eb;
}

html {
  font-size: 100%;
  scroll-behavior: smooth;
}

body {
  position: relative;
  background-color: var(--white);
  /* position: relative; */
}

a {
  text-decoration: none;
}

ul,
li {
  list-style-type: none;
}

.cls-main-header {
  position: fixed;
  top: 0;
  background-color: rgba(22, 100, 142, 0.95);
  color: var(--white);
  height: 100px;
  width: 100%;
  box-shadow: 0 2px 4px -3px var(--dark);
  z-index: 999;
  padding: 0 32px;
}

.cls-logo {
  cursor: pointer;
  display: flex;
}

#id-upper {
  gap: 2px;
  font-size: 2rem;
  font-weight: 800;
}

#id-small {
  font-size: 1.75rem;
  font-weight: 500;
  font-style: italic;
}

#id-check {
  display: none;
}

.cls-check {
  order: 1;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}
.cls-check span {
  font-size: 2rem;
  font-weight: 900;
}

#id-menu {
  /* display: none; */
}

#id-close {
  display: none;
}

.cls-navbar,
.cls-nav-sect {
  display: flex;
  align-items: center;
}

.cls-nav-sect {
  /* background-color: yellow; */
  height: 100%;
  gap: 16px;
  font-size: 1.15rem;
  font-weight: 700;
}

.cls-nav-sect-link span {
  /* background-color: yellowgreen; */
  /* height: 100%; */
  line-height: 100px;
  color: var(--white);
  font-size: 1.5rem;
}

p {
  /* background-color: turquoise; */
  line-height: 100px;
}

.cls-navbar {
  /* background-color: red; */
  height: 100%;
  justify-content: space-between;
  overflow: hidden;
}

.cls-nav-list {
  /* background-color: var(--sapphire-blue); */
  background-color: rgba(22, 100, 142, 0.95);

  padding: 32px 32px;
  width: 70%;
  min-height: 100vh;
  position: fixed;
  top: 100px;
  right: -200%;
  transition: all 0.3s ease-in-out;
}
.cls-nav-item {
  height: 36px;
  line-height: 36px;
  margin-bottom: 32px;
}
.cls-nav-link {
  display: block;
  height: 100%;
  color: var(--white);
  font-size: 1.15rem;
  padding: 0 16px;
  transition: 0.3s ease-in;
}

.cls-nav-link:hover {
  color: var(--sapphire-blue);
  background: var(--white);
}

#id-check:checked ~ .cls-nav-list {
  right: 0;
}
